name: shadcn_flutter
description: "Beautifully designed components from Shadcn/UI is now available for Flutter"
version: 0.0.52
homepage: "https://github.com/sunarya-thito/shadcn_flutter"
documentation: "https://sunarya-thito.github.io/shadcn_flutter/"
repository: "https://github.com/sunarya-thito/shadcn_flutter"
issue_tracker: "https://github.com/sunarya-thito/shadcn_flutter/issues"

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.32.3"

dependencies:
  email_validator: ^3.0.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  skeletonizer: ^2.1.0+1
  country_flags: ^4.1.0
  phonecodes: ^0.0.4
  cross_file: ^0.3.4+2
  web: ^1.1.1
  data_widget: ^0.0.3
  gap: ^3.0.1
  expressions: ^0.2.5+2
  animation_kit: ^0.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  generate: true
  uses-material-design: true
  fonts:
  - family: RadixIcons
    fonts:
    - asset: "lib/icons/RadixIcons.otf"
  - family: BootstrapIcons
    fonts:
    - asset: "lib/icons/BootstrapIcons.otf"
  - family: LucideIcons
    fonts:
    - asset: "lib/icons/LucideIcons.ttf"
  - family: "GeistSans"
    fonts:
    - asset: "lib/fonts/Geist-Black.otf"
      weight: 800
    - asset: "lib/fonts/Geist-BlackItalic.otf"
      weight: 800
      style: italic
    - asset: "lib/fonts/Geist-Bold.otf"
      weight: 700
    - asset: "lib/fonts/Geist-BoldItalic.otf"
      weight: 700
      style: italic
    - asset: "lib/fonts/Geist-ExtraLightItalic.otf"
      weight: 200
      style: italic
    - asset: "lib/fonts/Geist-Light.otf"
      weight: 300
    - asset: "lib/fonts/Geist-LightItalic.otf"
      weight: 300
      style: italic
    - asset: "lib/fonts/Geist-Medium.otf"
      weight: 500
    - asset: "lib/fonts/Geist-MediumItalic.otf"
      weight: 500
      style: italic
    - asset: "lib/fonts/Geist-SemiBold.otf"
      weight: 600
    - asset: "lib/fonts/Geist-SemiBoldItalic.otf"
      weight: 600
      style: italic
    - asset: "lib/fonts/Geist-Thin.otf"
      weight: 100
    - asset: "lib/fonts/Geist-ThinItalic.otf"
      weight: 100
      style: italic
    - asset: "lib/fonts/Geist-UltraBlack.otf"
      weight: 900
    - asset: "lib/fonts/Geist-UltraLight.otf"
      weight: 200
    - asset: "lib/fonts/Geist-Regular.otf"
      weight: 400
    - asset: "lib/fonts/Geist-RegularItalic.otf"
      weight: 400
      style: italic
  - family: "GeistMono"
    fonts:
    - asset: "lib/fonts/GeistMono-Black.otf"
      weight: 800
    - asset: "lib/fonts/GeistMono-BlackItalic.otf"
      weight: 800
      style: italic
    - asset: "lib/fonts/GeistMono-Bold.otf"
      weight: 700
    - asset: "lib/fonts/GeistMono-BoldItalic.otf"
      weight: 700
      style: italic
    - asset: "lib/fonts/GeistMono-ExtraLightItalic.otf"
      weight: 200
      style: italic
    - asset: "lib/fonts/GeistMono-Light.otf"
      weight: 300
    - asset: "lib/fonts/GeistMono-LightItalic.otf"
      weight: 300
      style: italic
    - asset: "lib/fonts/GeistMono-Medium.otf"
      weight: 500
    - asset: "lib/fonts/GeistMono-MediumItalic.otf"
      weight: 500
      style: italic
    - asset: "lib/fonts/GeistMono-Regular.otf"
      weight: 400
    - asset: "lib/fonts/GeistMono-Italic.otf"
      weight: 400
      style: italic
    - asset: "lib/fonts/GeistMono-SemiBold.otf"
      weight: 600
    - asset: "lib/fonts/GeistMono-SemiBoldItalic.otf"
      weight: 600
      style: italic
    - asset: "lib/fonts/GeistMono-Thin.otf"
      weight: 100
    - asset: "lib/fonts/GeistMono-ThinItalic.otf"
      weight: 100
      style: italic
    - asset: "lib/fonts/GeistMono-UltraBlack.otf"
      weight: 900
    - asset: "lib/fonts/GeistMono-UltraLight.otf"
      weight: 200

topics:
- widgets
- user-interface
- design
- components
- shadcn-ui
